<!DOCTYPE html>
    <html>
        <head>
            <body>
            <title>Goodbye</tile>
            <% name = "Joe" %>
            <h1>Goodbye <%= name %></h1>
            </body>
        </head   

    </html>

  