<!DOCTYPE html>
<html>
    <head>
        <title>goodbye title</title>
    </head>
    <body>
        <% def goodbye(name) %>
        <h1><%= "Goodbye #{name}" %></h1>
        <%end%>
        <% goodbye("Joe") %>
    </body>
</html>